<div class="container">
    <app-nav></app-nav>
    <div class="inner__c">
        <div class="heading__container dp-flex">
            <div class="page__heading dp-flex">
                <div class="page__heading-text">
                    <span> Road </span>
                </div>
                <div class="page__heading-add">
                    <span class="span__text"> Add Homes </span>
                    <fa-icon [icon]="faPlus" class="icon"></fa-icon>
                </div>
            </div>
        </div>
        <div class="containers__box dp-flex">
            <!-- <div class="col _A">A</div> -->
            <div class="col _B">
                <div class="color">
                    <div class="row-c headin dp-flex">
                        <div class="col _1 headin-txt">
                            NAME
                        </div>
                        <div class="col _2 headin-txt">
                            Number Of Homes
                        </div>
                    </div>
                    <div>
                        <div class="dp-flex row-c">
                            <div class="col _1">
                                <div class="pointer">
                                
                                </div>
                            </div>
                            <div class="col _2">
                                <div class="pointer">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>