<app-get-estates></app-get-estates>




<!-- <div class="container">
    <app-nav></app-nav>
    <div [class.blurClass]="hideBlur" class="inner__c">
        <div class="containers__box dp-flex">
            <div class="column__a">
              <app-mattree></app-mattree>  
            </div>
              
            <div class="column__b">
                <app-get-estates *ngIf="openedResult === 1 "></app-get-estates>
                <app-user *ngIf="openedResult === 2"></app-user>
                <app-form *ngIf="openedResult === 3"></app-form>
            </div>

        </div>
    </div>
</div> -->