.container {
    height: 100%;
    background-color: white;
}

.inner__c {
    /* background-color: darkmagenta; */
    height: 80%;
}

.containers__box {
    width: 100%;
    margin: auto;
    height: 100%;
    /* padding-top: 20px; */
}

.column__a {
    width: 15%;
    margin-right: 12%;
    height: 100%;
    padding-top: 28px;
    padding-left: 41px;
}


.column__b {
    margin-top: 30px;
    width: 55%;
}

.color {
    width: 100%;
}  

.row-c {
    width: 100%;
    justify-content: center;
    margin-top: 14px;
    border: 1px solid transparent;
    border-bottom-color: rgb(217, 214, 214);
    cursor: pointer;
}

._1, ._2, ._3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headin {
    padding: 10px;
}

.headin-txt {
    font-size: 1.2rem;
    font-weight: 500;
    color: #283E4A;
}

._c {
    margin-top: 20px;
}

.div-button {
    width: 100%;
}

.create-estate {
    width: 20%;
    height: 30px;
    background-color: #532380;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
    color: white;
    font-size: 12px;
}

.create-estate > span:nth-child(2) {
    font-size: 10px;
}

.blurClass {
    filter: blur(5px);
}




/*  */
.panel {
    background-color: #062863;
    height: 100%;
    width: 5%;
    align-items: center;
}

.division__loggedin {
    margin: 0 0 auto 0;
}

.division__hamburger {
    margin-top: 30px;
}

.division__icon {
    margin-top: 70px;
}

.division__logout {
    margin-bottom: 20px;
}

.section__icon {
    margin-top: 50px;
}

.hamburger__menu {
    align-items: center;
    /* background-color: hotpink; */
}

.hamburger__menu-span {
    height: 2px;
    width: 20px;
    background-color: white;
    margin-top: 4px;
}

.icon {
    font-size: 1.2rem;
}

.content__container{
    /* background-color: indianred; */
    padding-top: 60px;
    width: 90%;
    margin: 0 auto;
}


/*********  ************/

.example-tree-invisible {
    display: none;
    background-color: red;
}

.example-tree {
    height: 100%;
    opacity: 0.6;
}
  
.example-tree ul,
.example-tree li {
margin-top: 0;
margin-bottom: 0;
list-style-type: none;
}

.mat-tree-node {
    cursor: pointer;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.dsable {
    padding-left: 30px;
}

/* .disabled-button {
    padding-left: 30px;
}

.li-nested {
    background-color: green;
} */





