<div class="content-wrapper dp-flex flex-dir-col">
    <section class="section__heading">
        <header class="header dp-flex">
            <h1 class="firstname"> Adedayo, </h1>
            <aside>
                <fa-icon [icon]="faUser"></fa-icon>
            </aside>
        </header>
    </section>
    <section class="section__greeting">
        <p class="para__greeting"> WELCOME TO <b>YOUR ESTATE NAME</b> </p>
    </section>
    <section class="section__other__info">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Incidunt inventore consequatur eveniet optio at quaerat eius alias dolorem? <br>
            Est eius accusamus temporibus quae ipsum ex, voluptatem at saepe rerum libero.
        </p>
    </section>
</div>