

<div class="container">
    <app-nav></app-nav>
    <div class="inner__c">
        <div class="containers__box dp-flex">
            <div class="column__a">
              <app-mattree></app-mattree>  
            </div>
              
            <div class="column__b">
                <div class="inner__estate__container">
                    <div class="rows top dp-flex">
                        <div class="col _1 dp-flex headin-txt">
                            <span> NAME </span>
                        </div>
                    </div>
                    <div class="content-container" *ngFor="let aUser of allUsers; let i=index">
                        <div class="dp-flex rows" >
                            <div class="col col-1">
                                <div class="pointer">
                                    {{ aUser.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>

        </div>
    </div>
</div>







<!-- <div class="user__container">

    <div class="dp-flex inner__c__users">
        <div class="division__table">
            <table mat-table [dataSource]="allUsers" class="mat-elevation-z8">

                <ng-container matColumnDef="fname">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">  {{ element.name}} </td>
                </ng-container>            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div> -->
