<div class="payment__container">
    <div class="dp-flex flex-dir-col payment__wrapper">
        <div class="text__heading">
            <h2> PAYMENTS </h2>
        </div>
        <div class="dp-flex bills__card">
            <div class="w100 child_direct_wrapper">
                <mat-card class="card card-1"> <h2> Water Bills </h2> </mat-card>
            </div>
            <div class="w100 child_direct_wrapper">
                <mat-card class="card card-2"> <h2> Electricity Bills </h2> </mat-card>
            </div>
        </div>
        <div class="dp-flex bills__card">
            <div class="w100 child_direct_wrapper">
                <mat-card class="card card-3"> <h2> Waste Bills</h2> </mat-card>
            </div>
            <div class="w100 child_direct_wrapper">
                <mat-card class="card card-4"> <h2> Security Bills </h2> </mat-card>
            </div>
        </div>
    </div>
</div>