._navbar {
    /* padding-bottom: 1%; */
    background-color: #283E4A;
}

.__navbar-inner-container {
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}




/********** FIRST DIV NAV BAR ********/
.logo-and-search {
    /* background-color: brown; */
    width: 45%;
    /* justify-content: space-between; */
    align-items: center;
}

._navbar__list-container {
    list-style: none;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    border-color: transparent;
    margin-right: 15px;
}

.searchform__outer__container {
    width: 60%;
    /* background-color: darkblue; */
}

.searchform {
    
}

.inputtext__search {
    background-color: white;
    border: 1px solid;
    border-color: transparent;
    outline: none;
    border-radius: 3px;
    padding: 3%;
    margin-right: 5px;
    width: 100%;
}

.button__search {
    /* background-color: #42629f */
    background-color: #283E4A;
    border: 2px solid;
    border-radius: 4px;
    border-color: #f4f4f4;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 2;
    padding: 0 5%
}

.button__search:hover {
    background-color: white;
    color: black;
}





/********** SECOND DIV NAV BAR********/
.other-links {
    width: 26%;
    justify-content: space-around;
}

.residences {
    padding: 4px;
}

.router__links {
    color: white;
}

.grouped {
    align-items: center;
}


