<nav class="_navbar">
    <div class="dp-flex  __navbar-inner-container m-auto">
        <div class="dp-flex logo-and-search">
            <ul class="_navbar__list-container">
                <li class="_navbar__list _navbar__list-logo">
                    <a routerLink="/home" routerLinkActive="active" class="router__links notextdecoration">
                        <span>
                            <span> u </span>
                            <span> l </span>
                            <span> t </span>
                            <span> i </span>
                            <span> m </span>
                            <span> a </span>
                            <span> T </span>
                            <span> e </span>
                            <span> s </span>
                            <span> t </span>
                            <span> a </span> <span> t </span> <span> e </span>
                        </span>
                    </a>
                </li>
                <!-- <li class="_navbar__list">
                    <a routerLink="/about" routerLinkActive="active" class="router__links notextdecoration">About</a>
                </li> -->
            </ul>

            <div class="searchform__outer__container">
                <form class="searchform dp-flex">
                    <span class="m-auto"></span>
                    <input type="search" placeholder="Search Estates" class="inputtext__search search" />
                    <button type="submit" class="button__search text-color-white"> Search </button>
                    <!-- <fa-icon [icon]="faSearch"></fa-icon> -->
                </form>
            </div>
        </div>



        <div class="dp-flex other-links">
            <!-- <div class="residences">
                <a routerLink="/home" routerLinkActive="active" class="router__links notextdecoration">
                    <span class="text-color-white"> ESTATES </span>
                </a>
            </div> -->
            <div class="residences ">
                <a routerLink="/home" routerLinkActive="active" class="router__links notextdecoration">
                    <div class="grouped dp-flex flex-dir-col">
                        <fa-icon [icon]="faHouseUser" class="icon"></fa-icon>
                        <span class="text-color-white"> My Estate </span>
                    </div>
                </a>
            </div>
            <div class="residences">
                <a routerLink="/user" routerLinkActive="active" class="router__links notextdecoration">
                    <div class="grouped dp-flex flex-dir-col">
                        <fa-icon [icon]="faUser" class="icon"></fa-icon>
                        <span class="text-color-white"> Users </span>
                    </div>
                </a>
            </div>
            <div class="residences">
                <a routerLink="/home" routerLinkActive="active" class="router__links notextdecoration">
                    <div class="grouped dp-flex flex-dir-col">
                        <fa-icon [icon]="faCashReg" class="icon"></fa-icon>
                        <span class="text-color-white"> Payment </span>
                    </div>
                </a>
            </div>
            <div class="residences">
                <a routerLink="/register" routerLinkActive="active" class="router__links notextdecoration">
                    <div class="grouped dp-flex flex-dir-col">
                        <fa-icon [icon]="faPowerOff" class="icon"></fa-icon>
                        <span class="text-color-white"> Logout </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>

<!-- <div class="loginform__outer__container">
    <form class="dp-flex loginform">
        <section class="dp-flex flex-dir-col login__section-email">
            <label class="labeltext__email text-color-white">Email</label>
            <input type="email" class="inputtext__email"/>
        </section>
        <section class="dp-flex flex-dir-col login__section-password">
            <label class="labeltext__password text-color-white">Password</label>
            <input type="password" class="inputtext__password" />
        </section>
        <button type="submit" class="button__login text-color-white">Log In</button>
    </form>
</div>
</div> -->

<!-- <div class="residences">
    <select>
        <option>
            <a routerLink="/register" routerLinkActive="active" class="router__links notextdecoration">
                <span class="text-color-white"> ADD HOME OWNERS </span>
            </a>
        </option>
        <option>
            <a routerLink="/register" routerLinkActive="active" class="router__links notextdecoration">
                <span class="text-color-white"> ADD OCCUPANTS </span>
            </a>
        </option>
        <option>
            <a routerLink="/register" routerLinkActive="active" class="router__links notextdecoration">
                <span class="text-color-white"> ADD FAMILY/HOUSE SERVICES </span>
            </a>
        </option>
    </select>
</div> -->

<!-- <div class="residences">
    <a routerLink="/login" routerLinkActive="active" class="router__links notextdecoration">
        <span class="text-color-white"> ADD STAFF </span>
    </a>
</div> -->
